.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Fira Code', 'Courier New', monospace;
    background-color: var(--color-bg);
}

.left {
    width: 50%;
}

.left .logo {
    display: flex;
    align-items: center;
}

.left img {
    width: 50px;
}